* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.main-component::-webkit-scrollbar{
  display: none!important;
}
.mb-2{
  margin-bottom: 1.25rem!important;
}
.font-size-25 svg{
  font-size: 1.25rem!important;
}
.overflow-auto{
  overflow: auto!important;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.ant-layout-sider-children .logo {
  height: 32px !important;
  margin: 16px !important;
  color: white!important;
  font-size: 1.25rem!important;
  text-align: center!important;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout.ant-layout-has-sider {
  height: 100vh !important;
}
.custom-toggle {
  margin-left: 1rem !important;
}
.custom-header {
  color: white !important;
  height: 68px !important;
  line-height: 64px !important;
  background: #001529 !important;
}
.custom-loader{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-loader .ant-spin-spinning{
  display: flex!important;
}
