* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center!important;
}
.h6,h6 {
  font-size: 16px;
}
.font-semibold {
  font-weight: 600!important;
}
.text-muted {
  color: #8c8c8c!important;
}
.ant-input {
  border-radius: 6px!important;
}
.ant-input {
  font-weight: 600!important;
  color: #8c8c8c!important;
}
.ant-input {
  height: 40px!important;
  border: 1px solid #d9d9d9!important;
}
.font-bold {
  font-weight: 700!important;
}
.text-dark {
  color: #141414!important;
}
.main-component::-webkit-scrollbar {
  display: none !important;
}
.mb-2 {
  margin-bottom: 1.25rem !important;
}
.font-size-25 svg {
  font-size: 1.25rem !important;
}
.default-margin {
  margin: 24px !important;
}
.overflow-auto {
  overflow: auto !important;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.ant-layout-sider-children .logo {
  height: 32px !important;
  margin: 16px !important;
  color: white !important;
  font-size: 1.25rem !important;
  text-align: center !important;
}

.bg-white{
  background: #fff!important;
}
.site-layout-background-white {
  background: #fff !important;
}
.ant-layout.ant-layout-has-sider {
  height: 100vh !important;
}
.custom-toggle {
  margin-left: 1rem !important;
}
.profile-component, .post-component{
  padding: 1.25rem;
}
.profile-nav-bg {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}
.card-profile-head .ant-card-head {
  border-bottom: 0px!important;
  padding: 0px 16px!important;
}

.card-profile-head {
  width: 90%;
  margin: -53px auto 24px!important;
  border-radius: 12px!important;
}

.card-profile-head .ant-card-head .ant-avatar {
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%)!important;
  border-radius: 8px!important;
  margin: 0!important;
}

.card-profile-head .ant-card-head .avatar-info {
  margin-left: 16px !important;
}
.ant-card-head-title p {
  font-weight: 600 !important;
  color: #8c8c8c !important;
  margin-bottom: 0 !important;
}

.card-profile-head .ant-card-head .avatar-info h5 {
  font-size: 20px !important;
}

.card-profile-head .ant-card-head .avatar-info h5 {
  font-size: 20px !important;
}

.card-profile-head .ant-radio-group .ant-radio-button-wrapper {
  height: auto !important;
  font-weight: 700 !important;
}
.custom-header {
  color: white !important;
  height: 68px !important;
  line-height: 64px !important;
  background: #001529 !important;
}
.custom-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-loader .ant-spin-spinning {
  display: flex !important;
}
.mainClassName{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.default-margin{
  display: inline-block!important;
}
.settings-list {
  list-style: none;
  padding: 0;
}
.settings-list > li:first-child {
  padding-top: 0;
}
.settings-list > li {
  padding: 12px 0;
}

.settings-list > li h6 {
  font-size: 12px;
  color: #8c8c8c;
  margin: 0;
  font-weight: 700;
}
.settings-list > li span {
  margin-left: 16px;
  color: #141414;
}
.card-profile-information hr {
  opacity: 0.2!important;
}
.card-profile-information .ant-descriptions .ant-descriptions-row > td,
.card-profile-information .ant-descriptions .ant-descriptions-row > th {
  padding-bottom: 16px!important;
}
.conversations-list .ant-list-item-meta-description {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
}

.conversations-list .ant-avatar {
  border-radius: 10.5px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 12%);
}
.conversations-list .ant-list-item {
  padding: 14px 0;
}
